
,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.navbar > h1, .navbar > ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.navbar > ul{
    justify-content: space-around;
}

.navbar img{
    width: 1em;
    height: 1em;
}
.search-site > .search{
    width:2em;
    height: 2em;
    background-image: url(eCommerceWebsiteAssets_GN_Starter-main/1200px-Google_Magnifying_Glass.svg.png);
    background-size: contain;
    border-radius: 20%;
}

.search-site > .enter-query{
    border-color: white;
    box-shadow: none;
    height: 20px;
    border-radius: 8px;
}

.search-site{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
    border-radius: 8px;
}

